blinker==1.8.2
boto3==1.35.48
botocore==1.35.48
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
filelock==3.16.1
Flask==3.0.3
fsspec==2024.10.0
gunicorn==23.0.0
huggingface-hub==0.26.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==3.0.2
packaging==24.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
s3transfer==0.10.3
six==1.16.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
diffusers
ipython
json5
peft==0.13.
pillow
safetensors==0.4.5
tokenizers
torch
torchaudio
torchvision
transformers==4.46.3
accelerate
